.contact-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.contact-body{
    width: 100vw;
    height: 37vw;
    display: flex;
    justify-content: space-evenly;


    .location{
        display: flex;
        flex-direction: column;
        .items{
            display: flex;
            flex-direction: row;
            margin: 1rem;

            .icon{
                list-style-type: none;
                margin: .625rem;
                height: 5rem;
                width: 5rem;
            }
            .text{
                font-size: 1.5rem;
                text-transform: capitalize;
            }
        }
    
    }
}
.form{
    width: 40vw;
    background-color: antiquewhite;
    padding: 3rem;

}